@font-face {
    font-family: 'CMU Typewriter';
    src: url(assets/cmunbtl.ttf) format('truetype');
}

:root {
    --white: #FFF;
    --highlight: #9EF0C0;
    --shadow: #283229;

    --text-shadow: 1px 1px;

    --font: 'CMU Typewriter';
}

.Splash,
.Splash__content,
.Splash__links,
.Splash__link {
    display: flex;
    align-items: center;
}

.Splash,
.Splash__content {
    justify-content: center;
}

.Splash__content,
.Splash__links {
    flex-direction: column;
}

.Splash {
    height: 100vh;
    width: 100vw;
}

.Splash__content {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Splash__content--404 {
    background-image: url('assets/buster_keaton.gif');
}

@keyframes color-rotate {
    0% {
        filter: brightness(0.667) hue-rotate(0deg);
    }

    50% {
        filter: brightness(0.75) hue-rotate(360deg);
    }

    100% {
        filter: brightness(0.667) hue-rotate(0deg);
    }
}

.Splash__video {
    filter: brightness(0.667);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -125%;
    min-height: 100%;
    min-width: 100%;
    animation: color-rotate 30s infinite linear;
}

.Splash__text,
.Splash__icon {
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5rem;
    text-shadow: var(--text-shadow) var(--shadow);
    transition: color 0.5s ease-in-out;
}

.Splash__text {
    font-family: var(--font);
    position: relative;
    text-align: center;
    letter-spacing: 0.1ch;
}

.Splash__text--title {
    text-transform: uppercase;
    animation: fade-in-down 1.5s ease-in;
    animation-fill-mode: both;
}

.Splash__links {
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.Splash__link {
    gap: 0.75rem;
    cursor: pointer;
    position: relative;
    animation: fade-in-up 1s ease-out;
    animation-fill-mode: both;
}

.Splash__link--1 {
    animation-delay: 1.5s;
}

.Splash__link--2 {
    animation-delay: 2s;
}

.Splash__link--3 {
    animation-delay: 2.5s;
}

.Splash__link--4 {
    animation-delay: 3s;
}

.Splash__link--5 {
    animation-delay: 3.5s;
}

.Splash__link:hover .Splash__text,
.Splash__link:hover .Splash__icon {
    color: var(--highlight);
}

.Splash__footer {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

@keyframes fade-in-down {
    0% {
        transform: translate3d(0, -1rem, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fade-in-up {
    0% {
        transform: translate3d(0, 0.75rem, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .Splash__video {
        left: -67%;
    }

    .Splash__text--title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .Splash__links {
        flex-direction: row;
        gap: 2.5rem;
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .Splash__video {
        left: -25%;
    }
}

@media screen and (min-width: 1280px) {
    .Splash__text--title {
        font-size: 1.75rem;
        line-height: 2.1875rem;
    }
}

@media screen and (min-width: 1800px) {
    .Splash__video {
        left: 0;
    }
}